<%-include("../../views/partials/admin/header")%>
<link rel="stylesheet" href="/css/banner.css">


<div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-3">
    <h2 class="mb-0 banner">Banner</h2>
    <!-- <div class="search-container position-relative">
        <input type="text" class="form-control" id="searchInput" placeholder="Search categories...">
        <span class="search-clear" id="clearSearch" style="display:none;">&times;</span>
    </div> -->
</div>




<div class="d-flex" style="gap: 10px;">
    <a href="/admin/addBanner" class="btn btn-secondary add-cat" style="width: 200px;">Add Banner</a>
    <a href="/admin/trash-category" class="btn btn-secondary add-cat" style="width: 200px;">Trash</a>
</div>



<div class="table-wrapper container-fluid">
    <div class="table-responsive">
        <table class="table table-bordered text-center mt-4">
            <thead class="table-secondary">
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <%if(data){%>
                    <%for(let i=0; i<data.length; i++){%>
                <tr>
                    <td>
                      <img src="/uploads/bannerImages/<%=data[i].image%>" alt="" style="max-width:150px; max-height:80px; object-fit:cover;">
                    </td>
                    <td><%=data[i].title%></td>
                    <td><%=data[i].description%></td>
                    <td><%=data[i].startDate%></td>
                    <td><%=data[i].endDate%></td>
                    <td>
                      <%if(data[i].startDate < Date.now() && data[i].endDate > Date.now()){%>
                        <a href="" class="btn btn-warning btn-sm" onclick="return confirmAction()">Active</a>
                        <%}else{%> 
                        <a href="" class="btn btn-info btn-sm" onclick="return confirmAction()">Inactive</a>
                        <%}%>
                    </td>
                    <td>
                        <a href="" class="btn btn-dark btn-sm"><i class="bi bi-pencil-square"></i></a>
                        <a href="/admin/deleteBanner?id=<%=data[i]._id%>" class="btn btn-dark btn-sm"><i class="bi bi-trash"></i></a>
                        <!-- <button class="btn-icon text-primary" title="Edit"><i class="bi bi-pencil-square"></i></button>
                        <button class="btn-icon text-danger" title="Delete"><i class="bi bi-trash"></i></button> -->
                    </td>
                </tr>
                <%}%>
                <%}else{%>
                    <tr>
                        <td colspan="7" class="text-center text-muted">No Banner Found</td>
                    </tr>
                <%}%>    
            </tbody>
        </table>
    </div>

