<%-include("../../views/partials/admin/header")%>

<div class="container mt-5">
    <div class="card shadow-lg rounded-4">
      <div class="card-header text-center">
        <h3 class="mb-0">Edit Coupon</h3>
      </div>
      <div class="card-body p-4">

        <!-- Coupon Form -->
        <form id="couponForm" onsubmit="return handleFormSubmit(event)">
          <input type="hidden" name="id" value="<%= coupon._id %>">

          <!-- Coupon Code -->
          <div class="mb-3">
            <label for="code" class="form-label">Coupon Code</label>
            <input type="text" class="form-control" id="code" name="code" value="<%= coupon.code %>">
          </div>


          <!-- Start Date -->
          <div class="mb-3">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="startDate" value="<%= coupon.startDate.toISOString().split('T')[0] %>">
          </div>

          <!-- End Date -->
          <div class="mb-3">
            <label for="endDate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="endDate" name="endDate" value="<%= coupon.endDate.toISOString().split('T')[0] %>">
          </div>



          <!-- Discount Value -->
          <div class="mb-3">
            <label for="discountValue" class="form-label">Discount Value</label>
            <input type="number" class="form-control" id="discountValue" name="discountValue" value="<%= coupon.discountValue %>">
          </div>


          <!-- Minimum Order Value -->
          <div class="mb-3">
            <label for="minValue" class="form-label">Minimum Order Value (₹)</label>
            <input type="number" class="form-control" id="minValue" name="minValue" value="<%= coupon.minValue%>">
          </div>

          

          <!-- Submit Button -->
          <div class="text-center">
            <button type="submit" class="btn btn-success px-4">Edit</button>
            <a href="/admin/coupon" class="btn btn-secondary px-4">Cancel</a>
          </div>

        </form>

      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

  function setDefaultStartDate() {
    const today = new Date().toISOString().split('T')[0];
    const startDateInput = document.getElementById('startDate')
    startDateInput.setAttribute('min',today)
    startDateInput.value = today
  }

  window.onload = setDefaultStartDate;
  
  function handleFormSubmit(event){
    event.preventDefault()
    if(!validateForm()) return false

    fetch(`/admin/editCoupon/${document.querySelector('input[name="id"]').value}`,{
      method: 'PATCH',
      headers: {'content-type':'application/json'},
      body: JSON.stringify({
        id: document.querySelector('input[name="id"]').value,
        code: document.getElementById('code').value.trim(),
        startDate: document.getElementById('startDate').value.trim(),
        endDate: document.getElementById('endDate').value.trim(),
        discountValue: Number(document.getElementById('discountValue').value.trim()),
        minValue: Number(document.getElementById('minValue').value.trim()) 
      })
    }).then( async response => {
      const data = await response.json().catch(()=> {})
        if(!response.ok){
          throw new Error(data.message || 'An error occurred.')
        }
        return data;

    }).then(data => {
      Swal.fire({
        icon: 'success',
        title: 'Coupon updated',
        text: data.message || 'The coupon has been successfully updated'
      }).then(() => {
        window.location.href = '/admin/coupon'
      });
    }).catch(error => {
      if(error.message === 'Coupon already exists!'){
        Swal.fire({
          icon: 'error',
          title: 'Oops',
          text: 'Coupon code already exists'
        });
      }else{
        Swal.fire({
          icon: 'error',
          title: 'Oops',
          text: 'An error occurred while updating the coupon'
        });
      }
    });
  }


  function validateForm(){
    const now = new Date()
    const code = document.getElementById('code').value.trim()
    const start = document.getElementById('startDate').value.trim()
    const end = document.getElementById('endDate').value.trim()
    const discount = document.getElementById('discountValue').value.trim()
    const minimum = document.getElementById('minValue').value.trim()

    if(!code || !start || !end || !discount || !minimum){
      Swal.fire('Error','All fields are required','error')
      return false
    }

    if (new Date(start) < new Date(new Date().toISOString().split('T')[0])) {
      Swal.fire('Error','Start date cannot be in the past!','error')
      return false
    }

    if (new Date(end) <= new Date(start)) {
      Swal.fire('Error','End date must be greater than start date','error')
      return false
    }


    if (isNaN(discount) || Number(discount) <= 0) {
      Swal.fire('Error','Discount must be a positive number','error')
      return false
    }

    if (minimum && (isNaN(minimum) || Number(minimum) < 0)) {
      Swal.fire('Error','Minimum value must be 0 or greater','error')
      return false
    }

    return true

  }


</script>
 

  <%-include("../../views/partials/admin/footer")%>