<%-include("../../views/partials/user/header")%>

  <link rel="stylesheet" href="/css/home.css">

  <!-- Banner -->
  <!-- <div class="main-slider">
     Slide 1 
    <div class="slider-item">
      <div class="banner-content">
        <h2 class="banner-title">Life of the Wild</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim
          pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis urna, a eu.
        </p>
        <a href="#" class="btn">Read More</a>
      </div>
      <img src="images/main-banner1.jpg" alt="banner" class="banner-image" />
    </div>
     Slide 2 
    <div class="slider-item">
      <div class="banner-content">
        <h2 class="banner-title">Birds gonna be Happy</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac.
        </p>
        <a href="#" class="btn">Read More</a>
      </div>
      <img src="images/main-banner2.jpg" alt="banner" class="banner-image" />
    </div>
  </div> -->












  <!-- Featured Books -->
  <section id="featured-books" class="py-5 my-5">
    <div class="container">
      <div class="text-center mb-5">
        <h2 class="section-heading">New Arrivals</h2>
      </div>

      <div class="row g-4">
        <!-- Book Card -->
         <%if(products.length>0){%>
         <%for(let i=0; i<products.length; i++){%>
        <div class="col-md-3 col-sm-6">
          <div class="book-card">
            <div class="image-wrapper">
              <button class="wishlist-btn"><i class="icon-heart"></i></button>
              
              <a href="/productDetails?id=<%=products[i]._id%>">
              <img src="/<%=products[i].productImage[0]%>" alt="<%=products[i].productName%>" class="book-image">
              </a>
            </div>
            <div class="book-info">
              <h5 class="book-title"><%=products[i].productName%></h5>
              <p class="book-author"><%=products[i].author%></p>
              <p class="book-price"><%=products[i].price%></p>
              <button class="btn btn-buy">Add to Cart</button>
            </div>
          </div>
        </div>
        <%}%>
        <%}else{%>
          <p class="text-center">No new arrivals right now. Check back later!</p>
        <%}%>
      </div>

      <div class="row">
        <div class="col-md-12 ">
          <a href="/shop" class="btn view-all-btn"
            style="border: 2px solid #fca311; color: #fca311; background-color: transparent; text-decoration: none; padding: 6px 16px; border-radius: 4px;">View
            All Products
            <i class="icon icon-ns-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </section>















  <!-- Best selling book -->
  <section id="best-selling" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <figure class="products-thumb">
                <img src="images/single-image.jpg" alt="book" class="single-image">
              </figure>
            </div>

            <div class="col-md-6">
              <div class="product-entry">
                <h2 class="section-title divider">Best Selling Book</h2>
                <div class="products-content">
                  <div class="author-name">By Timbur Hood</div>
                  <h3 class="item-title">Birds gonna be happy</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet,
                    libero ipsum enim pharetra hac.</p>
                  <div class="item-price">$ 45.00</div>
                  <div class="btn-wrap">
                    <button class="btn btn-buy" style="font-size: 1.1rem;">Shop it now <i
                        class="icon icon-ns-arrow-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / row -->
        </div>
      </div>
    </div>
  </section>

  <!-- Books with offer -->
  <section id="special-offer" class="py-5">
    <div class="container">
      <div class="text-center mb-5">
        <span class="subtitle">Grab your opportunity</span>
        <h2 class="section-title">Books with Offer</h2>
      </div>

      <div class="row g-4">
        <!-- Book Item -->
        <div class="col-md-3 col-sm-6">
          <div class="offer-card">
            <div class="offer-thumb">
              <button class="wishlist-btn"><i class="icon-heart"></i></button>
              <img src="images/product-item5.jpg" alt="Simple way of peace life">
            </div>
            <div class="offer-info">
              <h5>Simple way of peace life</h5>
              <p>Armor Ramsey</p>
              <p class="price">
                <span class="old-price">$50.00</span>
                $40.00
              </p>
              <button class="btn-add">Add to Cart</button>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="offer-card">
            <div class="offer-thumb">
              <button class="wishlist-btn"><i class="icon-heart"></i></button>
              <img src="images/product-item6.jpg" alt="Great travel at desert">
            </div>
            <div class="offer-info">
              <h5>Great travel at desert</h5>
              <p>Sanchit Howdy</p>
              <p class="price">
                <span class="old-price">$30.00</span>
                $38.00
              </p>
              <button class="btn-add">Add to Cart</button>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="offer-card">
            <div class="offer-thumb">
              <button class="wishlist-btn"><i class="icon-heart"></i></button>
              <img src="images/product-item7.jpg" alt="The lady beauty Scarlett">
            </div>
            <div class="offer-info">
              <h5>The lady beauty Scarlett</h5>
              <p>Arthur Doyle</p>
              <p class="price">
                <span class="old-price">$35.00</span>
                $45.00
              </p>
              <button class="btn-add">Add to Cart</button>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="offer-card">
            <div class="offer-thumb">
              <button class="wishlist-btn"><i class="icon-heart"></i></button>
              <img src="images/product-item8.jpg" alt="Once upon a time">
            </div>
            <div class="offer-info">
              <h5>Once upon a time</h5>
              <p>Klien Marry</p>
              <p class="price">
                <span class="old-price">$25.00</span>
                $35.00
              </p>
              <button class="btn-add">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%-include("../../views/partials/user/footer")%>