<%-include("../../views/partials/user/header")%>
<link rel="stylesheet" href="/css/cart.css">




<div class="container">
  <h2 style="text-align: center; margin-top: 10px; font-weight: bold;">MY WISHLIST</h2>

  <div class="cart-card">
    <!-- Cart Item -->
     


    <%if(wishlist && wishlist.products && wishlist.products.length > 0) { %>
      <p class="above-head">Price</p>
      <%wishlist.products.forEach(product => {%>
    <div class="wishlist-item" data-product-id="<%= product.productId._id%>">
      <div class="item-left">
        <img src="/<%= product.productId.productImage[0]%>" alt="<%= product.productId.name %>">
      </div>

      <!-- Product details -->
      <div class="item-middle">
        <h4><strong><%= product.productId.productName %></strong></h4>
        <p>by <%= product.productId.author %></p>
 
        <div class="quantity-controls">
          <button class="delete-btn" style="margin-left: 0;">Delete</button>
          <button class="add-to-cart-btn">Add to Cart</button>
        </div>
      </div>
      <div class="item-right">
        ₹ <%= product.productId.price%>
      </div>
    </div>
    <%})%>
    <%}else{%>
      <p>Wishlist is empty</p>
      <%}%>



      <!-- <p>Wishlist is empty</p> -->

  </div>


</div>


<script>
  document.querySelectorAll('.delete-btn').forEach(btn => {
    btn.addEventListener('click',(e) => {
      const wishlistItem = e.target.closest('.wishlist-item');
      const productId = wishlistItem.dataset.productId;
      
      Swal.fire({
        title: "Are you sure?",
        text: "Do you want to remove this item from wishlist?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!'
      }).then(async (result) => {
        if(result.isConfirmed){
          try {
            const res = await fetch(`/deleteFromWishlist/${productId}`,{method: 'DELETE'})
            const data = await res.json()
            if(data.message){
              Swal.fire({
                title: 'Removed!',
                text: data.message,
                icon: 'success'
              }).then(()=> 
              wishlistItem.remove())
            }
          } catch (error) {
            console.error(error)
          }
        }
      })
    })
  })



  document.querySelectorAll('.add-to-cart-btn').forEach(btn => {
    btn.addEventListener('click',async(e) => {
      const wishlistItem = e.target.closest('.wishlist-item');
      const productId = wishlistItem.dataset.productId;

      try {
        const res = await fetch(`/add-to-cart/${productId}`,{method:'POST'})
        const data = await res.json()

        if(res.ok){
          Swal.fire({
            icon: 'success',
            title: 'Moved to Cart',
            text: data.message,
            showConfirmButton: false,
            timer: 500
          }).then(() => {
            wishlistItem.remove()
          })
        }else {
          Swal.fire({
            icon: 'error',
            title: 'Oops',
            text: data.message
          })
        }
        
      } catch (error) {
        console.error(error)
        Swal.fire({
          icon: 'error',
          title: 'Something went wrong',
          text: 'Please try again later'
        })
        
      }
    })
  })
</script>